h1 {text-align: center;
color: rgb(51, 51, 172);
font-size: 38px;
font-family: monospace;
}
h2 {text-align: center;
color: rgb(86, 91, 97);
font-family: monospace;
font-size: 30px;}

p {
    color:rgb(86, 91, 97);
    font-family: monospace;
    font-size: 20px;
}

.fixed-image {
    width: 800px;
    width: 60%;
  }
  .smaller-image{
      width: 300px;
      align-items: center;
      width: 20%;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }