h1 {text-align: center;
color: rgb(51, 51, 172);
font-size: 38px;
font-family: monospace;
}
h2 {text-align: center;
color: rgb(86, 91, 97);
font-family: monospace;
font-size: 30px;}
h3 {
    text-align: left ;
    color: rgb(86, 91, 97);
    font-family: monospace;
    font-size: 28px;

}
p {
    color:rgb(86, 91, 97);
    font-family: monospace;
    font-size: 20px;
    
}
ul { color:rgb(86, 91, 97);
    font-family: monospace;
    font-size: 20px;}

    ol {
        color:rgb(86, 91, 97);
        font-family: monospace;
        font-size: 20px;
    }
.fixed-image {
    width: 800px;
    width: 60%;
  }
  .smaller-image{
      width: 300px;
      align-items: center;
      width: 20%;
  }

  .big-image {
      width: 60%;
      width: 800px;
      align-items: center;

}
.gray-image {
    width: 100px;
      align-items: center;
      width: 5%;
}
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  footer {
      text-align: center;
  }